[Unit]
Description=Zlorb Daemon
After=network.target

[Service]
ExecStart=/usr/bin/zlorb-service
Type=simple
Restart=always
Environment="RUST_LOG=zlorb_service"

[Install]
WantedBy=default.target
